html {
    box-sizing: border-box;
}
li{
    display: inline;
}
ul {
    list-style-type: none;
    height: 4.25em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #848487;
}
li {
    float: left;
    display: flex;
    justify-content: center;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #3B94D9;
}
