/** {*/
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
#after{
    display: none;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/*body{*/
/*    background: rgb(251,251,255);*/
/*    background: radial-gradient(circle, rgba(251,251,255,1) 14%, rgba(12,12,12,1) 93%);*/
/*}*/
#formSection{
    width: fit-content;
    height: 15vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(251,251,255,.7);
    color: #FBFBFF;
}
.movieSection{
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.movieCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 400px;
    max-width: 300px;
    align-items: center;
    color: #000000;
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: 6px solid #020202;
    border-radius: 5px;
    margin: 5%;
    font-family: 'Texturina', serif;
}
.poster{
    width: 25%;
    height: 40%;
    margin: 0 auto;
}
.titleOnPoster{
    text-align: center;
}
.delete{
}
button {
    border: 3px solid;
    border-radius: 30px;
    color: #0a0a0a;
    background-color: #fafcfb;
    font-size: 1em;
}
button:hover{
    border: 3px solid #1ef8d8;
    border-radius: 30px;
    color: #fbfcfb;
    background-color: #eabb13;
    font-family: 'Texturina', serif;
}
label{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.editInput{
}
#closeEdit{
    align-self: flex-end;
    width: 10%;
    height: 7%;
    margin-top: -5%;
}
.Edit{
}
#edit{
    position: absolute;
    top: 20vh;
    left: 15vw;
    height: 60vh;
    width: 70vw;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #000000;
    opacity: 0.8;
}
#forDelete{
    display: none;
}
#load{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.filter{
    display: block;
}
@media screen and (min-width: 992px){
    .movieCard{
        width: calc(100%/2.5);
        margin: 2% 3%;
        height: 90%;
    }
    #edit{
        top: 28vh;
        left: 34vw;
        height: 50vh;
        width: 33vw;
    }
}